name: Bygg og prepare release

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.editorconfig'
      - '.gitignore'
      - 'LICENSE'
      - 'CODEOWNERS'
      - 'docs/**'
      - '.github/*.yml'

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: "0"

      - name: Setup java and maven
        uses: navikt/fp-gha-workflows/.github/actions/setup-java-and-maven@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Verify
        shell: bash
        run: |
          mvn verify -e -B -s settings.xml

  release-drafter:
    name: Update
    permissions:
      contents: write
      pull-requests: read
    if: github.ref_name == 'master'
    needs: build
    uses: navikt/fp-gha-workflows/.github/workflows/release-drafter.yml@main
    secrets: inherit
